<!DOCTYPE html>
<html>
  <head>
    <title>NursingceTechnical</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= tag.div class: "container" do %>
      <%= yield %>
    <% end %>
  </body>
</html>
